<html>
    <body>
        <h2>HTML Form</h2>
        <form action="submit1" method="POST">
            <label for="Science">Science:</label><br>
            <input type="text" id="Science" name="science" value="0"><br>
            <label for="Maths">Maths:</label><br>
            <input type="text" id="Maths" name="maths" value="0"><br>
            <label for="C">C:</label><br>
            <input type="text" id="C" name="C" value="0"><br>
            <label for="Data Science">Data Science:</label><br>
            <input type="text" id="Datascience" name="datascience" value="0"><br>
            <input type="submit" value="submit">
        </form>

    </body>
</html>